<div class="row">


    <div ng-show="usersFound">
 <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th></th>
                    
                </tr>

            </thead>
            <tbody ng-repeat="user in users">
                <tr>
                    <td>
                        <p style="color:#105cb6;font-style: bold">{{user.username}}</p>
                    </td>
                    <td>
                        <p style="color:#105cb6;font-style: bold">{{user.roles}}</p>
                    </td>
                    <td align="right">
                        <button type="button" class="btn btn-danger" ng-click="deleteUser(user.username); reload()">Delete</button>
                    </td>
                </tr>
            </tbody>

        </table>
 </div>
        


    </div>
</div>

